.horizontalLayout {
  display: flex;

  & > * {
    flex: 1;

    &:not(:first-child) {
      margin-left: 7.5px;
    }
    &:not(:last-child) {
      margin-right: 7.5px;
    }
  }

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}